<!-- Formulario -->
<h1 style="color: blue">Ingrese datos</h1>
<br />
<form action="/html-onwire" method="post">
  <div class="form-group">
    <label for="nombre"><b>Nombre</b></label>
    <input id="nombre" class="form-control" type="text" name="nombre" />
  </div>
  <div class="form-group">
    <label for="apellido"><b>Apellido</b></label>
    <input id="apellido" class="form-control" type="text" name="apellido" />
  </div>
  <div class="form-group">
    <label for="dni"><b>DNI</b></label>
    <input id="dni" class="form-control" type="number" name="dni" />
  </div>
  <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>
<!-- Final Formulario -->
