<h2 style="color: crimson">Historial</h2>

<div class="table-responsive">
  <table class="table table-dark">
    <tr style="color: yellow">
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
    </tr>
    <!-- filas -->
    <% for (const persona of personas) {%>
    <tr>
      <td><%=persona.nombre %></td>
      <td><%=persona.apellido %></td>
      <td><%=persona.dni %></td>
    </tr>
    <% } %>
    <!-- Fin filas -->
  </table>
</div>
